.movies-container{
  margin-top: 30px;
}

.page-item{
  &.active .page-link{
    background-color: #000000;
    border-color: #000000;
  }

  .page-link {
    color: #000000;
    box-shadow: none;

    &:focus{
      box-shadow: none;
    }
  }
}
